title = "All Events"
url = "/all-events"
layout = "with-sidebar"
description = "Showing all events paginated"
is_hidden = 0
==

use NITH\Events\Models\Event;

function onStart() {
    $this['title'] = 'All Events';
    $this->addCss('assets/css/events.css');
    $this['events'] = Event::orderBy('start_date', 'desc')->paginate(2);
}

==

<div class="events">

    {% for event in events %}
    <div class="row">
        <h1> {{ event.title }} </h1>
        <p>
            {{ event.getStartDate() }}
            {% if event.end_date %}
              <small class="text-muted"> &nbsp; to &nbsp; </small>  {{ event.getEndDate() }}
            {% endif %}
        </p>
        <blockquote>
            {{ event.description }}
        </blockquote>
        <a class="btn btn-link pull-right" href="/event/{{ event.id }}"> Visit </a>
    </div>
    {% endfor %}

    {{ events.render() | raw }}
</div>
