title = "Home"
url = "/"
layout = "home"
is_hidden = 0

==
<?php
use NITH\Events\Models\Event;
use NITH\News\Models\NewsItem;
use NITH\Notices\Models\Notice;
use NITH\Links\Models\Link;
use NITH\Activities\Models\Activity;
use Mohsin\Carousel\Models\Carousel;

function onStart() {
    $this['title'] = 'Home';
    $this['events'] = Event::where('archive', '=', false)->orderBy('start_date', 'asc')->get();
    $this['activities'] = Activity::where('archive', '=', false)->orderBy('start_date', 'asc')->get();
    $this['news_items'] = NewsItem::where('archive', '=', false)->orderBy('created_at', 'desc')->get();
    $this['notices'] = [
        'Academics' => Notice::where('type', '=', 1)->orderBy('updated_at', 'desc')->take(8)->get(),
        'Administration' => Notice::where('type', '=', 2)->orderBy('updated_at', 'desc')->take(8)->get(),
        'Others' => Notice::where('type', '=', 0)->orderBy('updated_at', 'desc')->take(8)->get()
    ];
    $this['carousel'] = Carousel::where('name', 'like', 'Home')->first();
    $this['egall'] = Carousel::where('name', 'like', 'Event Gallery')->first();
    $this['links'] = Link::all();
}
?>
==
<div class="content container">

  <!-- SLIDER and VISION -->
  <div class="row">
    <!-- SLIDER -->
    <div class="col-xs-12">
      <div id="promo-slider" class="slider flexslider">
          <ul class="slides">
              {% for i, image in carousel.images %}
              <li>
                  <img class="img-responsive" src="{{ image.path }}"  alt="{{ image.title ? image.title : 'Gallery Image' }}" />
                  <p class="flex-caption">
                      {% if image.title %}
                        <span class="main" >{{ image.title }}</span>
                      {% endif %}
                      <br />
                      {% if image.description %}
                        <span class="secondary clearfix" >{{ image.description }}</span>
                      {% endif %}
                  </p>
              </li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <!-- //SLIDER -->
  </div>
  <!-- SLIDER and VISION -->

  <!-- NEWS -->
  <div class="row">
    <div class="col-xs-12">
      <section class="news">
        <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>
        <div class="carousel-controls">
            <a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
            <a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
        </div><!--//carousel-controls-->
        <div class="section-content clearfix">
            <div id="news-carousel" class="news-carousel carousel slide">
                <div class="carousel-inner">
                    {% for i in 0..((news_items|length)-1)//3 %}
                      <div class="{{ (i == 0) ? 'active':'' }} item">
                        {% for j in 0..2 %}
                          {% if(news_items[i*3 + j]) %}
                          <div class="col-md-4 news-item">
                            <h2 class="title"><a href="/news/{{ news_items[i*3 + j].id }}"> {{ news_items[i*3 + j].title }} </a></h2>
                            <p class="news-clamp" data-toggle="popover" title="{{ news_items[i*3 + j].title }}" data-content="{{ news_items[i*3 + j].description }}">
                              {{ news_items[i*3 + j].description }}
                            </p>
                            <a class="read-more" href="/news/{{ news_items[i*3 + j].id }}">Read more<i class="fa fa-chevron-right"></i></a>
                          </div><!--//news-item-->
                          {% endif %}
                        {% endfor %}
                      </div><!--//item-->
                    {% endfor %}
                </div><!--//carousel-inner-->
            </div><!--//news-carousel-->
        </div><!--//section-content-->
    </section><!--//news-->
    </div>
  </div>
  <!-- //NEWS -->

  <!-- //EVENTS, NOTICES -->
  <div class="row cols-wrapper">

    <!-- EVENTS -->
    <div class="col-md-3">
      <section class="events">
        {% if events|length > 3 %}
        <div class="carousel-controls pull-right">
            <a class="prev" href="#events-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
            <a class="next" href="#events-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
        </div><!--//carousel-controls-->
        {% endif %}
        <h1 class="section-heading text-highlight"><span class="line">Events</span></h1>
        <div class="section-content">
          <div id="events-carousel" class="events-carousel carousel slide">
            <div class="carousel-inner">
              {% for i in 0..(((events|length)-1)//3) %}
                <div class="{{ (i == 0) ? 'active':'' }} item">
                  {% for j in 0..2 %}
                    {% if(events[i*3 + j]) %}
                    <div class="event-item">
                      <p class="date-label">
                        <span class="month">{{ events[i*3 + j].getMonth() }}</span>
                        <span class="date-number">{{ events[i*3 + j].getDay() }}</span>
                      </p>
                      <div class="details">
                        <h2 class="title">
                          <a href="/event/{{ events[i*3 + j].id }}"> {{ events[i*3 + j].title }} </a>
                        </h2>
                        <p class="time event-clamp" data-toggle="popover" title="{{ events[i*3 + j].title }}" data-content="{{ events[i*3 + j].description }}">
                          <i class="fa fa-bars"></i>{{ events[i*3 + j].description }}
                        </p>
                        <p class="location">
                          <i class="fa fa-calendar-o"></i>
                          {{ events[i*3 + j].getStartDate() }}
                          {% if events[i*3 + j].end_date %}
                            <small> to </small> {{ events[i*3 + j].getEndDate() }} </p>
                          {% endif %}
                      </div><!--//details-->
                    </div><!--event-item-->
                    {% endif %}
                  {% endfor %}
                </div><!--//item-->
              {% endfor %}
            </div>
          </div>
          <a class="read-more" href="events.html">All events<i class="fa fa-chevron-right"></i></a>
        </div><!--//section-content-->
      </section><!--//events-->
    </div><!--//col-md-3-->
    <!-- //EVENTS  -->


    <div class="col-md-9">
      <div class="row">

        <!-- NOTICES -->
        <div class="col-md-12">
          <section class="notices">
              <h1 class="section-heading text-highlight"><span class="line">Notices</span></h1>
              <div class="section-content row">
                {% for key,value in notices %}
                <div class="col-md-4 notice-part">
                  <h2> {{ key }} </h2>
                  {% for notice in value %}
                  <p><a href="/notice/{{ notice.id }}"><i class="fa fa-caret-right"></i>
                    {{ notice.title }}
                    {% if notice.isnew %}
                    <span class="badge badge-info">new</span>
                    {% endif %}
                  </a></p>
                  {% endfor %}
                </div>
                {% endfor %}
              </div><!--//section-content-->
          </section><!--//links-->
        </div>
        <!-- //NOTICES -->

        <div class="col-md-12">
          <div class="row">

            <!-- ACTIVITES -->
            <div class="col-md-8">
              <section class="events activities">
                {% if activities|length > 2 %}
                <div class="carousel-controls pull-right">
                    <a class="prev" href="#activities-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                    <a class="next" href="#activities-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                </div><!--//carousel-controls-->
                {% endif %}
                <h1 class="section-heading text-highlight"><span class="line">Activities</span></h1>
                <div class="section-content">
                  <div id="activities-carousel" class="activities-carousel carousel slide">
                    <div class="carousel-inner row">
                      {% for i in 0..(((activities|length)-1)//2) %}
                        <div class="{{ (i == 0) ? 'active':'' }} item">
                          {% for j in 0..1 %}
                            {% if(activities[i*2 + j]) %}
                            <div class="event-item col-md-6">
                              <p class="date-label">
                                <span class="month">{{ activities[i*2 + j].getMonth() }}</span>
                                <span class="date-number">{{ activities[i*2 + j].getDay() }}</span>
                              </p>
                              <div class="details">
                                <h2 class="title">
                                  <a href="/activity/{{ activities[i*2 + j].id }}"> {{ activities[i*2 + j].title }} </a>
                                </h2>
                                <p class="time event-clamp" data-toggle="popover" title="{{ activities[i*2 + j].title }}" data-content="{{ activities[i*2 + j].description }}">
                                  <i class="fa fa-bars"></i>{{ activities[i*2 + j].description }}
                                </p>
                                <p class="location">
                                  <i class="fa fa-calendar-o"></i>
                                  {{ activities[i*2 + j].getStartDate() }}
                                  {% if activities[i*2 + j].end_date %}
                                    <small> to </small> {{ activities[i*2 + j].getEndDate() }} </p>
                                  {% endif %}
                              </div><!--//details-->
                            </div><!--event-item-->
                            {% endif %}
                          {% endfor %}
                        </div><!--//item-->
                      {% endfor %}
                    </div>
                  </div>
                  <a class="read-more" href="/all-activities">All activities<i class="fa fa-chevron-right"></i></a>
                </div><!--//section-content-->
              </section><!--//events-->
            </div><!--//col-md-3-->
            <!-- //ACTIVITIES -->

            <!-- QUICK LINKS -->
            <div class="col-md-4">
                <section class="links">
                  <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                  <div class="section-content">
                    {% for link in links %}
                      <p>
                        <a href="{{ link.link }}">
                          <i class="fa fa-caret-right"></i>
                          {{ link.title }}
                          {% if link.isnew %}
                          <span class="badge badge-info">new</span>
                          {% endif %}
                        </a>
                      </p>
                    {% endfor %}
                  </div><!--//section-content-->
                </section>
            </div>
            <!-- //QUICK LINKS -->


          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- //GALLERY -->
  <div class="row">
      <div class="col-xs-12">
        <section>
          <h1 class="section-heading text-highlight"><span class="line">Gallery</span> <small><a href="/gallery"> Whole Gallery </a></small></h1>
          <div class="section-content">
            <div id="ri-grid" class="ri-grid ri-grid-size-2 ri-shadow">
              <img class="ri-loading-image" src="{{ '/assets/images/cube.gif' | theme }}"/>
              <ul>
                {% for i in 0..10 %}
                  {% if egall.images[i] %}
                    <li><a href="#"><img class="img-responsive" style="width: 300; height: 200;" src="{{ egall.images[i].getThumb(300,200) }}"/></a></li>
                  {% endif %}
                {%  endfor %}
              </ul>
            </div>
          </div>
        </section>
      </div>
  </div>
  <!-- //GALLERY -->

</div>