description = "Common JS"
==
==
<script type="text/javascript" src="{{ 'assets/plugins/jquery-1.11.2.min.js' | theme }}"></script>
<script type="text/javascript" src="{{ 'assets/plugins/jquery-migrate-1.2.1.min.js' | theme }}"></script>
<script type="text/javascript" src="{{ 'assets/plugins/bootstrap/js/bootstrap.min.js' | theme }}"></script>
<script type="text/javascript" src="{{ 'assets/plugins/bootstrap-hover-dropdown.min.js' | theme }}"></script>
<script type="text/javascript" src="{{ 'assets/plugins/back-to-top.js' | theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/clamp.min.js' | theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/modernizr.js' | theme }}"></script>

<!-- <script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapProp = {
      center:new google.maps.LatLng(31.7070, 76.5263),
      zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script> -->
