description = "Department Header"
==
==

<!-- HEADER -->
<header class="header">
    <div class="top-bar">
        topbar
    </div>
    <div class="header-main container">
        <!-- LOGO -->
        <h1 class="logo">
            <div class="col-xs-12 col-sm-6 col-md-6 dept-header">
                {{ dept.name }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="/"><img id="logo" class="img-responsive" style="max-height: 80px;" src="{{ 'assets/images/logo.png' | theme }}" alt="Logo"></a>    
            </div>
        </h1>
        <!-- //LOGO -->
    </div>
</header>
<!-- //HEADER -->
