description = "Footer"

[viewBag]
==
==
<footer class="footer">
    <!-- //FOOTER -->
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <!-- OTHER LINKS -->
                <div class="footer-col col-md-4 col-sm-6 col-sm-12 about">
                    <div class="footer-col-inner">
                        <h3>Other Links</h3>
                        <ul>
                            <div class="col-sm-6 col-md-12">
                                <li><a href="/"><i class="fa fa-caret-right"></i>Home</a></li>
                                <li><a href="/about"><i class="fa fa-caret-right"></i>About NITH</a></li>
                                <li><a href="/telephone-directory"><i class="fa fa-caret-right"></i>Telephone Directory</a></li>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <li><a href="#"><i class="fa fa-caret-right"></i>Contact Numbers</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Sitemap</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- //OTHER LINKS -->
                <!-- MAP -->
                <div class="col-md-4 col-sm-6">
                    <div id="googleMap" style="width:100%; height: 200px; margin-bottom: 20px;"></div>
                </div>
                <!-- //MAP -->
                <!-- CONTACT US -->
                <div class="footer-col col-md-4 col-sm-6 contact">
                    <div class="footer-col-inner">
                        <h3>Contact us</h3>
                        <div class="row">
                            <p class="adr clearfix col-md-12">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">National Institue of Technology Hamirpur</span><br>
                                    <span class="region">Anu Road</span><br>
                                    <span class="postal-code">Hamirpur, Himachal Pradesh 177005</span><br>
                                    <span class="country-name">India</span>
                                </span>
                            </p>
                            <p class="tel col-md-12"><i class="fa fa-phone"></i>01972 254 001</p>
                            <p class="email col-md-12"><i class="fa fa-envelope"></i><a href="#">mail@nith.ac.in</a></p>
                        </div>
                    </div>
                </div>
                <!-- //CONTACT US -->
            </div>
        </div>
    </div>
    <!-- //FOOTER -->
    <!-- BOTTOM BAR -->
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2015 National Institue of Technology, Hamirpur</small>
                <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                    <li><a href="#" class="btn btn-info"> Feedback </a></li>
                    <li class="row-end"><a href="#" class="btn btn-success"> Contribute </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //BOTTOM BAR -->
</FOOTER>
